// color 
$pink-1: #EB789C;

$gray-1: #333;
$gray-2: #c4c4c4;
$gray-3: #ddd;
$gray-4: #eee;
$gray-5: #f2f2f2;

$green: #25d34e;
$red: #eb2135;

$white: #fff;
$black: #000;

$black-1: #141516;

// font-size
$large-text: 18px;
$extra-small-title: 20px;
$small-title: 24px;
$normal-title: 25px;
$large-title: 30px;
$extra-large-title: 54px;