@import "../reset";
@import "../variable";

/* LOADER */
#loader {
    border: 16px solid $white;
    border-radius: 50%;
    border-top: 16px solid $pink-1;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0%  {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }